<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <div class="detail-container">
        <div class="book-image">
            <img src="/product/product1.png" alt="Book Cover">
        </div>
        <div class="book-info">
            <h2 class="title">Tuổi trẻ đáng giá bao nhiêu</h2>
            <p class="author">Author: Rossie Nguyen</p>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
            </p>
            <p class="price">Price: 13.000đ</p>
        </div>
    </div>
</body>

</html>