<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Categories</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/bavro" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/elianto" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/category.css">
</head>

<body>
    <div class="header-container">
        <div class="left">
            <a href="/">
                <img src="/icon/book.png" alt="" class="book-icon-header">
            </a>
            <div class="rental-book-header">Rental Book</div>
        </div>
        <div class="middle">
            <input type="search-bar" type="text" placeholder="Search">
            <button class="search-button">
                <img class="search-icon" src="/icon/search-icon.png">
            </button>
        </div>
        <div class="right">
            <div onclick="window.location.href = '/category'" class="category">Category Book</div>
            <% if(userData.username===undefined){ %>
                <button onclick="window.location.href = '/signup'" class="btn-signup">Sign Up</button>
                <button onclick="window.location.href = '/login'" class="btn-login">Login</button>
                <%} else {%>
                    <span class="username" onclick="window.location.href = '/personal'">
                        <%= userData.username %>
                    </span>
                    <button id="btnLogout" onclick="window.location.href = '/logout'" class="btn-logout">
                        <span class="logout-span">Logout</span>
                        <img src="/icon/logout-icon.png" alt="Logout" class="logout-icon">
                    </button>
                    <%}%>

        </div>
    </div>

    <div class="category-list">
        <button class="type">Novel</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Novel</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Novel</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Novel</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
        <button class="type">Horror</button>
    </div>

</body>

</html>