.content {
            align-items: center;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .book-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .book-image {
            width: 110px;
            height: 120px;
            margin-right: 10px;
            object-fit: cover;
            border-radius: 5px;
        }

        .book-details {
            flex-grow: 1;
        }

        .book-details h3 {
            margin: 0;
            font-size: 1.2em;
        }

        .book-details p {
            margin: 5px 0;
        }

        .book-price {
            font-weight: bold;
            margin-right: 10px;
        }

        .delete-button {
            background-color: #ff6666;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button {
            background-color: #06da57;
            color: white;
            border: none;
            padding: 8px 12px;
            margin-right: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        nav ul {
    list-style-type: none;
    padding: 0;
    
}
nav {
    background-color: #07121d;
    color: #ececf1;
    position: relative;
    top: 49px;
    bottom: 0;
    transition: background-color 0.3s ease;
    position: fixed;
    z-index: 100;
}

.overview {
    animation: fadeIn 1s ease;
    position: relative;
    left: 200px;
}
.inventorylist{
    width: 1000px;
}

.btn-subtract{
    border-radius: 5px;
    border: none;
    color: #06da57;
    background-color: #cdcde3;
    cursor: pointer;
}

.edit-button{
    background-color: #4f4fe0;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}