body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-column: span 2;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.content {
    align-items: center;
    margin-top: 20px;
}
nav {
    background-color: #07121d;
    color: #ececf1;
    position: fixed;
    top: 49px;
    bottom: 0;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.selection:hover {
    background-color: #2c3e50;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    grid-column: span 2;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
}

        
@keyframes fadeIn {
    from {
    opacity: 0;
}

to {
    opacity: 1;
    }
}

.overview1 {
    animation: fadeIn 1s ease;
    margin-left: 200px;
    width: 200%;
}

.selection {
    display: flex;
}

.img-icon {
    width: 35px;
    height: 35px;
}

