.content {
            align-items: center;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .book-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: #dedcdc solid;
            border-width: 1px;
        }

        .book-image {
            width: 110px;
            height: 120px;
            margin-right: 10px;
            object-fit: cover;
            border-radius: 5px;
        }

        .book-details {
            flex-grow: 1;
        }

        .book-details h3 {
            margin: 0;
            font-size: 1.2em;
        }

        .book-details p {
            margin: 5px 0;
        }

        .book-price {
            font-weight: bold;
            margin-right: 10px;
        }

        .return-button {
            background-color: #ff6666;
            color: white;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button {
            background-color: #06da57;
            color: white;
            border: none;
            padding: 8px 12px;
            margin-right: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        nav ul {
    list-style-type: none;
    padding: 0;
    
}
nav {
    background-color: #07121d;
    color: #ececf1;
    position: relative;
    top: 49px;
    bottom: 0;
    transition: background-color 0.3s ease;
    position: fixed;
    z-index: 100;
}

.overview {
    animation: fadeIn 1s ease;
    position: relative;
    left: 200px;
}
.rent-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}
.inventorylist, .user-list{
    width: 1000px;
}
.rent-id{
    margin-left: 10px;
    font-size: 18px;
}
.user-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.total{
    margin-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.total-span{
    color: green;
    font-weight: bold;
}
.is-return{
    color: green;
    margin-right: 15px;
}
.btn-return{
    background-color: red;
    padding: 10px 15px;
    margin-right: 15px;
    border: none;
    font-family: Arial;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}