.profile-card{
    position: relative;
    right: 0;
    left: 200px;
    top: 20px;
}
.profile-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

    .profile-image {
      width: 50%;
      height: 100%;
    }

    .user-info {
      padding: 20px;
    }

    .username {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333;
    }

    .roles {
      color: #555;
    }
    .choice{
      text-decoration: underline;
      cursor: pointer;
      color: blue;
    }

    .container {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input[type="text"], input[type="number"], input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .bank-logo{
          width: 100px;
          height: 100px;
          object-fit: cover;
        }